@model IOrderedEnumerable<ViewWorld.Core.Models.TripModels.TripArrangement>
@{
    if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr class="center aligned" id="@item.Id">
                <td class="two wide collapsing">
                    @item.ProductId
                </td>
                <td class="one wide">@item.CommonInfo.GroupId</td>
                <td class="three wide">@item.CommonInfo.Name</td>
                <td class="one wide">@item.CommonInfo.LowestPrice</td>
                <td class="one wide">@item.CommonInfo.RegionName</td>
                @{
                    var cityName = "";
                    if (!string.IsNullOrWhiteSpace(item.ProductInfo.DepartingCity))
                    {
                        var cityArray = item.ProductInfo.DepartingCity.Split('|');
                        foreach (var city in cityArray)
                        {
                            cityName += city.Split(',')[1] + ",";
                        }
                        cityName = cityName.TrimEnd(',');
                    }
                    <td class="one wide">@cityName</td>
                }
                <td class="one wide">@item.Publisher</td>
                <td class="one wide">@item.PublishedAt.ToString()</td>

                <td class="collapsing">
                    <button class="ui circular blue icon button" data-content="编辑">
                        <i class="edit icon"></i>
                    </button>
                    <button class="ui circular blue icon button" data-content="复制">
                        <i class="copy icon"></i>
                    </button>
                    @{
                        if (item.IsVisible)
                        {
                            <button class="ui circular blue icon route button hidden " data-content="发布线路">
                                <i class="unhide icon"></i>
                            </button>
                            <button class="ui circular red icon route button" data-content="隐藏线路">
                                <i class="hide icon"></i>
                            </button>
                        }
                        else
                        {
                            <button class="ui circular blue icon route button" data-content="发布线路">
                                <i class="unhide icon"></i>
                            </button>
                            <button class="ui circular red icon route button hidden" data-content="隐藏线路">
                                <i class="hide icon"></i>
                            </button>
                        }
                        if (item.DisplayOnFrontPage)
                        {
                            <button class="ui circular blue icon frontpage button hidden" data-content="首页显示">
                                <i class="arrow up icon"></i>
                            </button>
                            <button class="ui circular red icon frontpage button" data-content="首页隐藏">
                                <i class="arrow down icon"></i>
                            </button>
                        }
                        else
                        {
                            <button class="ui circular blue icon frontpage button" data-content="首页显示">
                                <i class="arrow up icon"></i>
                            </button>
                            <button class="ui circular red icon frontpage button hidden" data-content="首页隐藏">
                                <i class="arrow down icon"></i>
                            </button>
                        }
                    }
                    <button class="ui circular red icon button" data-content="删除">
                        <i class="remove icon"></i>
                    </button>
                </td>
            </tr>
                            }
                        }
                        else
                        {
        <tr class="center aligned">
            <td colspan="8" class="ui segment">没有您要搜索的数据..</td>
        </tr>
    }

}




