@model ViewWorld.Utils.ViewModels.FinderTripDetailViewModel

@{
    ViewBag.Title = "行程详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Lib/Swiper/css/swiper.min.css" rel="stylesheet" />
<style>
    body{background-color:#f2f2f2;}
</style>
<div class="trip-detail">
    @Html.AntiForgeryToken()
    <div class="ui container">
        <section class="intro-section">
            <div class="slider">
                <div class="swiper-container gallery-top main-slider">
                    <div class="swiper-wrapper">
                        @{
                            if (Model.Trip.CommonInfo.Photos.Count() > 0)
                            {
                                foreach (var photo in Model.Trip.CommonInfo.Photos)
                                {
                                    <div class="swiper-slide" style="background-image:url(@photo.FileLocation)"></div>
                                }
                            }
                            else
                            {
                                <div class="swiper-slide" style="background:url(/Images/Logo/logo_352-172.svg) no-repeat;background-size:contain"></div>
                            }

                        }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs main-slider">
                    <div class="swiper-wrapper">
                        @{
                            if (Model.Trip.CommonInfo.Photos.Count() > 0)
                            {
                                foreach (var photo in Model.Trip.CommonInfo.Photos)
                                {
                                    <div class="swiper-slide" style="background-image:url(@photo.FileLocation)"></div>
                                }
                            }
                            else
                            {
                                <div class="swiper-slide" style="background:url(/Images/Logo/logo_352-172.svg) no-repeat;background-size:contain"></div>
                            }

                        }
                    </div>
                </div>
            </div>
            <div class="intro-container">
                <h2 class="ui header">
                    @Model.Trip.CommonInfo.Name
                    <div class="sub header">@Model.Trip.CommonInfo.Keyword</div>
                </h2>
                <div class="ui small horizontal statistic lowest-price">
                    <div class="value">
                        @{
                            var price = Model.Trip.CommonInfo.PriceType + " " + Model.Trip.CommonInfo.LowestPrice;
                        }
                        @price
                    </div>
                    <div class="label">
                        起/人
                    </div>
                </div>
                <ul class="other-info">
                    <li><label>产品编号: </label><span>@Model.Trip.ProductId</span></li>
                    <li><label>出发城市: </label><span>@Model.DepartCity</span></li>
                    <li><label>结束城市: </label><span>@Model.ArrivalCity</span></li>
                    <li><label>活动优惠: </label><span>热卖</span></li>
                </ul>
            </div>
        </section>
        <section class="booking-section">
            <div class="calendar-container">
                <div id="calendarHeader" class="clearfix">
                    <nav>
                        <span id="custom-prev" class="custom-prev"><i class="caret left icon"></i></span>
                        <span id="custom-next" class="custom-next"><i class="caret right icon"></i></span>
                    </nav>
                    <h2 id="custom-month" class="custom-month">May</h2>
                    <h3 id="custom-year" class="custom-year">2017</h3>
                </div>
                <div id="bookingCalendar" class="fc-calendar-container"></div>
            </div>
            <div class="booking-container">
                <div class="header-container">
                    <h3 class="ui header">
                        选择出游日期和人数
                        <div class="sub header">建议提前两天预订</div>
                    </h3>
                </div>
                <div class="content-container">
                    <form class="ui form">
                        <div class="fields">
                            <div class="field">
                                <label>出游日期</label>
                                <div class="ui icon input toggleCalendar">
                                    <input type="text" name="departtime" value="@Model.FirstAvaiableDate" readonly>
                                    <i class="calendar icon"></i>
                                </div>
                                <span class="description"></span>
                            </div>
                            <div class="field">
                                <label>房间数量</label>
                                <div class="ui selection room-numbers dropdown">
                                    <input type="hidden" name="rooms">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">选择房间数量</div>
                                    <div class="menu">
                                        <div class="item" data-value="1">1间</div>
                                        <div class="item" data-value="2">2间</div>
                                        <div class="item" data-value="3">3间</div>
                                        <div class="item" data-value="4">4间</div>
                                        <div class="item" data-value="5">5间</div>
                                        <div class="item" data-value="6">6间</div>
                                        <div class="item" data-value="7">7间</div>
                                        <div class="item" data-value="8">8间</div>
                                        <div class="item" data-value="9">9间</div>
                                        <div class="item" data-value="10">10间</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="roomdetail-container">
                            <div class="calendar-message-container hidden">
                                <div>请选择出游日期，房间数量及出行人数来查看价格</div>
                            </div>
                            <div class="ui list">
                                
                            </div>
                        </div>
                        
                        <div class="field">
                            <div class="ui small horizontal statistics">
                                <div class="orange statistic">
                                    <div class="value">￥0</div>
                                    <div class="label">请选择日期及人数查看行程价格</div>
                                </div>
                            </div>
                            <p class="red">*最低价格一般指每个房间住四人的情况，具体价格根据房间人数得出</p>
                        </div>
                        <div class="ui labeled orange icon reserve button" id="reserve"><i class="payment icon"></i>立即预订</div>
                        <div class="ui labeled teal icon collect button" id="collect"><i class="bookmark icon"></i>收藏</div>
                    </form>
                </div>
            </div>
        </section>
        <section class="detail-section">
            <div class="ui divider" style="margin:0"></div>
            <div class="ui menu navigator" id="detailNav">
                <a class="active item" href="javascript:void(0)">
                    线路特色
                </a>
                <a class="item" href="javascript:void(0)">
                    参考行程
                </a>
                <a class="item" href="javascript:void(0)">
                    费用说明
                </a>
                <a class="item" href="javascript:void(0)">
                    订购须知
                </a>
                <a class="item" href="javascript:void(0)">
                    注意事项
                </a>
                <div class="right menu">
                    <a class="ui item collect">
                        收藏行程
                    </a>
                    <a class="ui item reserve">
                        立即预订
                    </a>
                </div>
            </div>
            <div class="ui segment product-detail-container" id="detailContainer">
                <div class="product-feature" id="productFeature">
                    <h4 class="ui horizontal divider header">
                        <i class="trophy icon"></i>
                        线路简介
                    </h4>
                    <div class="data-container">
                        <h2 class="ui small header">
                            <div class="content">
                                线路特色
                            </div>
                        </h2>
                        @MvcHtmlString.Create(Server.HtmlDecode(Model.Trip.ProductInfo.Feature))
                        @MvcHtmlString.Create(Server.HtmlDecode(Model.Trip.ProductInfo.Intro))

                    </div>

                </div>
                <div class="product-detail" id="productDetail">
                    <h4 class="ui horizontal divider header">
                        <i class="list layout icon"></i>
                        参考行程
                    </h4>
                    <div class="data-container">
                        @{
                            if (Model.Trip.Schedules.Any())
                            {
                                foreach (var schedule in Model.Trip.Schedules)
                                {
                                    <h2 class="ui small header">
                                        <div class="content">
                                            第 @schedule.Day 天 : @schedule.Name
                                        </div>
                                    </h2>
                                        <div>
                                            @{
                                                if (schedule.Details.Any())
                                                {
                                                    <p>路过景点：</p>
                                                    foreach (var item in schedule.Details)
                                                    {
                                                        var sceneries = item.Sceneries.Split('|');
                                                        foreach (var scene in sceneries)
                                                        {
                                                            if (!string.IsNullOrWhiteSpace(scene))
                                                            {
                                                                var data = @scene.Split(',');
                                                                <a class="ui teal tag label scenery" data-id="@data[0]" href="javascript:void(0);">@data[1]</a>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                                    }
                                                }

                        }

                    </div>
                </div>
                <div class="price-detail" id="priceDetail">
                    <h4 class="ui horizontal divider header">
                        <i class="calculator icon"></i>
                        费用说明
                    </h4>
                    <div class="data-container">
                        @{
                            if (!string.IsNullOrWhiteSpace(Model.Trip.CommonInfo.Introduction))
                            {
                                <h2 class="ui small header">
                                    <div class="content">
                                        费用介绍
                                    </div>
                                </h2>
                                    @MvcHtmlString.Create(Server.HtmlDecode(Model.Trip.CommonInfo.Introduction))
                            }
                            if (!string.IsNullOrWhiteSpace(Model.Trip.CommonInfo.Include))
                            {
                                <h2 class="ui small header">
                                    <div class="content">
                                        包含费用
                                    </div>
                                </h2>
                                    @MvcHtmlString.Create(Server.HtmlDecode(Model.Trip.CommonInfo.Include))
                            }
                            if (!string.IsNullOrWhiteSpace(Model.Trip.CommonInfo.Exclude))
                            {
                                <h2 class="ui small header">
                                    <div class="content">
                                        不包含费用
                                    </div>
                                </h2>
                                    @MvcHtmlString.Create(Server.HtmlDecode(Model.Trip.CommonInfo.Exclude))
                            }
                            if (Model.Trip.CommonInfo.SelfPayActivities.Any())
                            {
                                <h2 class="ui small header">
                                    <div class="content">
                                        自费项目
                                    </div>
                                </h2>
                                    <table class="ui center aligned celled table">
                                        <thead>
                                            <tr>
                                                <th class="five wide">名称</th>
                                                <th class="five wide">价格</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model.Trip.CommonInfo.SelfPayActivities)
                                                {
                                                    var detail = item.Split('|');
                                                    <tr>
                                                        <td>@detail[0]</td>
                                                        <td>@detail[1]</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                                }
                        }

                    </div>
                </div>
                <div class="order-info" id="orderInfo">
                    <h4 class="ui horizontal divider header">
                        <i class="info icon"></i>
                        订购须知
                    </h4>
                    <div class="data-container">
                        <p>
                            <span>1.订购必须经过一定的购买流程。我们会在1－2个工作日内通过电子邮件与您进行确认。</span><br /><br />
                            <span>2.请您尽快预订，因位价格可能在不同时间会有所不同。例如，在公众假期价格会有涨幅。</span><br /><br />
                            <span>3.请在预订前仔细阅读 取消和退款条例 。</span><br /><br />
                            <span>4.为了确保您的安全及旅途愉快，当地旅行团供应商会保留对行程安排进行更改的权利。</span><br /><br />
                            <span>5.凡订购标有买二送一，买二送二的旅行团产品，赠送者如不能参团，请在参团日期前5个工作日书面告知，否则会产生大巴空座费用$168/人（由该参团的同伴支付）</span><br /><br />
                            <span>6.此旅游产品为打包产品，自愿放弃或减少行程中的项目（如接送机，景点，酒店等）或行程天数均无费用的减免或退还。</span>
                        </p>

                    </div>
                </div>
                <div class="product-announcement" id="productAnnouncement">
                    <h4 class="ui horizontal divider header">
                        <i class="warning sign icon"></i>
                        注意事项
                    </h4>
                    <div class="data-container">
                        <h2 class="ui small header">
                            <div class="content">
                                预订电子票
                            </div>
                        </h2>
                        <p>
                            <span>1.在您提交预订后会立即通过电子邮件收到一份预订收据。</span><br /><br />
                            <span>2.在您提交预订的1－2个工作日内您会收到我们发出的确认邮件。</span><br /><br />
                            <span>3.一旦您的预订详情得到确认或者我们确认收到您的相关个人信息，您就会通过邮箱收到您的电子票。在您的电子票上我们会逐条详尽说明您所定购旅行团的信息。还会提供地方旅游机构的联系方式，以方便您在出行或者要求再次确认信息时使用。</span><br /><br />
                            <span>4.您只需要打印出您的电子票，并在出团当天附上您带有照片的有效身份证，出示给导游便可以了。请记住，电子票是您的购买凭证。</span><br /><br />
                        </p>
                        <h2 class="ui small header">
                            <div class="content">
                                特别事项
                            </div>
                        </h2>
                        <p>
                            <span>如遇因天气或其他无法预料的情况而导致当天您乘坐的航班延误超过45分钟的，请您自行安排前往下榻酒店，您也可以联系当地的旅行团供应商，看是否能给予您一些帮助。</span><br /><br />
                            <span>我们强烈建议您在出发前联系航空公司和地方旅行团供应商以确认好您的航班抵达时间和接机安排事宜。</span><br /><br />
                            <span>住宿饭店时请随时将房门扣上安全锁，以测安全；勿在灯上晾衣物；勿在床上吸烟，听到警报器响，请由紧急出口迅速离开。</span><br /><br />
                            <span>每个酒店房间只安排两张床;三人/四人同房如需加床请自行向酒店服务台查询。</span><br /><br />
                            <span>团体需一起活动，途中若要离队需征得导游同意以免发生意外。</span><br /><br />
                            <span>夜间或自由活动时间若需自行外出，请告知导游或团友，并应特别注意安全。</span><br /><br />
                            <span>行走雪地及陡峭之路请谨慎小心。</span><br /><br />
                            <span>遵守导游所宣布的观光区、餐厅、饭店、游乐设施等各种场所的注意事项。</span><br /><br />
                            <span>药物：胃肠药、感冒药、晕车药、私人习惯性药物。</span><br /><br />
                            <span>圣诞节、新年、国庆日、劳动节或其他长周末假期,团费会有适当的调整, 请在订团前先确认价钱。</span><br /><br />
                            <span>如遇特别情形, (天气,修路,罢工,封山,旅游车特殊状况) 为保障旅客权益, 本公司保留调整取消行程的最终解释权。</span><br /><br />
                            <span>春夏两季：请您注意穿著轻便的衣物和舒适的鞋子。</span><br /><br />
                            <span>秋冬两季：请您注意穿著厚实的衣物以保暖。</span><br /><br />
                            <span>每位客人最多允许携带两件托运行李参团，多出的行李将收取附加费 。</span><br /><br />
                            <span>部分酒店入住需要支付押金，请随身携带个人信用卡或现金，以便于办理酒店入住，入住时间从下午3:00时开始;退房时间为下午12:00时前，第一天自行前往酒店入住的客人，请尽量安排在当地时间下午3：00pm以后办理入住手续；提早到达酒店的客人，有可能会出现等候的现象，请谅解。</span><br /><br />
                            <span>请出行前务必检查携带的旅行证件是否齐全和有效（如签证，护照），对于前往第三国旅游的游客请自行确认是否需要签证。我公司对旅行证件的解释只作为参考不承担任何法律责任，请您务必再于相关国使领馆确认</span>

                        </p>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="ui modal" id="sceneryModal">
    <i class="close icon"></i>
    <div class="header">
        景点介绍
    </div>
    <div class="image content">
        <div class="slider">
            <div class="swiper-container gallery-top modal-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background:url(/Images/Logo/logo_352-172.svg) no-repeat;background-size:contain"></div>
                    <div class="swiper-slide" style="background:url(/Images/Logo/logo_352-172.svg) no-repeat;background-size:contain"></div>
                    <div class="swiper-slide" style="background:url(/Images/Logo/logo_352-172.svg) no-repeat;background-size:contain"></div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>

        </div>

        <div class="description" data-content="description">
            很好很强大
        </div>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            知道啦！
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui modal" id="roomSelectModal">
    <i class="close icon"></i>
    <div class="header">
        房间数量: 
        <div class="number-spinner" id="RoomTotal">
            <div class="ui right labeled input">
                <div class="ui basic spinner label plus"><i class="plus icon"></i></div>
                <input type="text" name="totalrooms" value="0" max="10" min="0" readonly>
                <div class="ui basic spinner label minus"><i class="minus icon"></i></div>
            </div>
        </div>
    </div>
    <div class="content">
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th></th>
                    <th>成人</th>
                    <th>儿童</th>
                </tr>
            </thead>
            <tbody class="rooms-container">
                <tr>
                    <td data-content="roomNumber"></td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic spinner plus label"><i class="plus icon"></i></div>
                                <input type="text" name="adults" value="2">
                                <div class="ui basic spinner minus label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="children" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>房间2</td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="adults" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="children" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>房间3</td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="adults" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="children" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="4">
                        <div class="ui right floated small positive labeled icon button">
                            <i class="checkmark icon"></i> 确定
                        </div>
                        <div class="ui right floated small grey labeled icon button">
                            <i class="close icon"></i> 取消
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
        <div class="error-messages"></div>
    </div>
</div>
<div class="ui first contact mini modal">
    <div class="header">
        预订信息：
    </div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>您的姓名</label>
                <input type="text" name="name" placeholder="您的姓名" value="@Model.UserName">
            </div>
            <div class="field">
                <label>您的电话</label>
                <input type="text" name="phone" placeholder="您的电话" value="@Model.Phone">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative button">
            取消
        </div>
        <div class="ui positive right labeled icon button">
            确定
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui second contact mini modal">
    <div class="header">
        预订成功！
    </div>
    <div class="content" style="text-align:center">
        <i class="green check circle icon" style="font-size:10em"></i>
        <br />
        <br />
        <br />
        <label>我们的服务人员会尽快与您联系</label>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            确定
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<script>
    var calendarData = '@Model.TripData';
    var ProductInfo = {
        ProductId: '@Model.Trip.ProductId',
        TripId: '@Model.Trip.Id',
        ProductName: '@Model.Trip.CommonInfo.Name',
        TotalDays:@Model.Trip.ProductInfo.TotalDays,
        ProviderName:'@Model.Trip.CommonInfo.ProviderName',
    }
</script>
<script type="text/html" id="roomTmpl">
    <tr class="room-detail fields hidden">
        <td data-content="roomNumber"></td>
        <td>
            <div class="number-spinner">
                <div class="ui right labeled input">
                    <div class="ui basic spinner plus label"><i class="plus icon"></i></div>
                    <input type="text" name="adults" value="2" readonly>
                    <div class="ui basic spinner minus label"><i class="minus icon"></i></div>
                </div>
            </div>
        </td>
        <td>
            <div class="number-spinner">
                <div class="ui right labeled input">
                    <div class="ui basic spinner plus label"><i class="plus icon"></i></div>
                    <input type="text" name="children" value="0" readonly>
                    <div class="ui basic spinner minus label"><i class="minus icon"></i></div>
                </div>
            </div>
        </td>
    </tr>
</script>
<script id="roomDetailTmpl" type="text/html">
    <div class="item">
        <i class="home icon"></i>
        <div class="content">
            <div class="header" data-content="roomNumber">房间1</div>
            <div class="description" data-content="roomDesc"></div>
        </div>
    </div>
</script>
<script src="~/Lib/Swiper/js/swiper.min.js"></script>
<script src="~/Lib/Calendario/calendario.js"></script>
<script src="~/Scripts/calendar.es5.min.js"></script>
<script src="~/Scripts/calendar.zh-cn.js"></script>
<script src="~/Scripts/jQuery.LoadTemplate/jquery.loadTemplate.min.js"></script>
<script src="~/Scripts/Frontend/Finder/tripDetail.js"></script>
