@model ViewWorld.Utils.ViewModels.FinderTripDetailViewModel

@{
    ViewBag.Title = "行程详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Lib/Swiper/css/swiper.min.css" rel="stylesheet" />
<style>
    body{background-color:#f2f2f2;}
</style>
<div class="trip-detail">
    <div class="ui container">
        <section class="intro-section">
            <div class="slider">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        @{
                            if (Model.Trip.CommonInfo.Photos.Count() > 0)
                            {
                                foreach (var photo in Model.Trip.CommonInfo.Photos)
                                {
                                    <div class="swiper-slide" style="background-image:url(@photo.FileLocation)"></div>
                                }
                            }
                            else
                            {
                                <div class="swiper-slide" style="background:url(/Images/Logo/logo_352-172.svg) no-repeat;background-size:contain"></div>
                            }

                        }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        @{
                            if (Model.Trip.CommonInfo.Photos.Count() > 0)
                            {
                                foreach (var photo in Model.Trip.CommonInfo.Photos)
                                {
                                    <div class="swiper-slide" style="background-image:url(@photo.FileLocation)"></div>
                                }
                            }
                            else
                            {
                                <div class="swiper-slide" style="background:url(/Images/Logo/logo_352-172.svg) no-repeat;background-size:contain"></div>
                            }

                        }
                    </div>
                </div>
            </div>
            <div class="intro-container">
                <h2 class="ui header">
                    @Model.Trip.CommonInfo.Name
                    <div class="sub header">@Model.Trip.CommonInfo.Keyword</div>
                </h2>
                <div class="ui small horizontal statistic lowest-price">
                    <div class="value">
                        @{
                            var price = Model.Trip.CommonInfo.PriceType + " " + Model.Trip.CommonInfo.LowestPrice;
                        }
                        @price
                    </div>
                    <div class="label">
                        起/人
                    </div>
                </div>
                <ul class="other-info">
                    <li><label>产品编号: </label><span>@Model.Trip.ProductId</span></li>
                    <li><label>出发城市: </label><span>@Model.DepartCity</span></li>
                    <li><label>结束城市: </label><span>@Model.ArrivalCity</span></li>
                    <li><label>活动优惠: </label><span>热卖</span></li>
                </ul>
            </div>
        </section>
        <section class="booking-section">
            <div class="calendar-container">
                <div id="calendarHeader" class="clearfix">
                    <nav>
                        <span id="custom-prev" class="custom-prev"><i class="caret left icon"></i></span>
                        <span id="custom-next" class="custom-next"><i class="caret right icon"></i></span>
                    </nav>
                    <h2 id="custom-month" class="custom-month">May</h2>
                    <h3 id="custom-year" class="custom-year">2017</h3>
                </div>
                <div id="bookingCalendar" class="fc-calendar-container"></div>
            </div>
            <div class="booking-container">
                <div class="header-container">
                    <h3 class="ui header">
                        选择出游日期和人数
                        <div class="sub header">建议提前两天预定</div>
                    </h3>
                </div>
                <div class="content-container">
                    <form class="ui form">
                        <div class="fields">
                            <div class="field">
                                <label>出游日期</label>
                                <div class="ui icon input toggleCalendar">
                                    <input type="text" name="departtime" value="@Model.FirstAvaiableDate" readonly>
                                    <i class="calendar icon"></i>
                                </div>
                                <span class="description"></span>
                            </div>
                            <div class="field">
                                <label>房间数量</label>
                                <div class="ui selection room-numbers dropdown">
                                    <input type="hidden" name="rooms">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">选择房间数量</div>
                                    <div class="menu">
                                        <div class="item" data-value="1">1间</div>
                                        <div class="item" data-value="2">2间</div>
                                        <div class="item" data-value="3">3间</div>
                                        <div class="item" data-value="4">4间</div>
                                        <div class="item" data-value="5">5间</div>
                                        <div class="item" data-value="6">6间</div>
                                        <div class="item" data-value="7">7间</div>
                                        <div class="item" data-value="8">8间</div>
                                        <div class="item" data-value="9">9间</div>
                                        <div class="item" data-value="10">10间</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="roomdetail-container">
                            <div class="calendar-message-container hidden">
                                <div>请选择出游日期，房间数量及出行人数来查看价格</div>
                            </div>
                            <div class="ui list">
                                
                            </div>
                        </div>
                        
                        <div class="field">
                            <div class="ui small horizontal statistics">
                                <div class="orange statistic">
                                    <div class="value">￥0</div>
                                    <div class="label">请选择日期及人数查看行程价格</div>
                                </div>
                            </div>
                        </div>
                        <div class="ui labeled orange icon button"><i class="payment icon"></i>立即购买</div>
                        <div class="ui labeled teal icon button"><i class="bookmark icon"></i>收藏</div>
                    </form>
                </div>
            </div>
        </section>
        <section class="detail-section">
            <div class="ui divider" style="margin:0"></div>
            <div class="ui pointing menu navigator">
                <a class="active item">
                    线路特色
                </a>
                <a class="item">
                    产品详情
                </a>
                <a class="item">
                    费用说明
                </a>
                <a class="item">
                    订购须知
                </a>
                <a class="item">
                    注意事项
                </a>
                <div class="right menu">
                    <a class="ui item">
                        保存行程
                    </a>
                    <a class="ui item">
                        立即预定
                    </a>
                </div>
            </div>
            <div class="ui segment product-detail-container">
                <div class="product-feature">
                    <h4 class="ui horizontal divider header">
                        <i class="trophy icon"></i>
                        线路特色
                    </h4>
                    <div class="data-container">
                        
                        @MvcHtmlString.Create(Server.HtmlDecode(Model.Trip.ProductInfo.Feature))
                    </div>
                    
                </div>
                <div class="product-detail">
                    <h4 class="ui horizontal divider header">
                        <i class="list layout icon"></i>
                        产品详情
                    </h4>
                    <div class="data-container">

                        @MvcHtmlString.Create(Server.HtmlDecode(Model.Trip.ProductInfo.Intro))
                    </div>
                </div>
                <div class="price-detail">
                    <h4 class="ui horizontal divider header">
                        <i class="calculator icon"></i>
                        费用说明
                    </h4>
                    <div class="data-container">

                        
                    </div>
                </div>
                <div class="order-info">
                    <h4 class="ui horizontal divider header">
                        <i class="info icon"></i>
                        订购须知
                    </h4>
                </div>
                <div class="product-announcement">
                    <h4 class="ui horizontal divider header">
                        <i class="warning sign icon"></i>
                        注意事项
                    </h4>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="ui modal" id="roomSelectModal">
    <i class="close icon"></i>
    <div class="header">
        房间数量: 
        <div class="number-spinner" id="RoomTotal">
            <div class="ui right labeled input">
                <div class="ui basic spinner label plus"><i class="plus icon"></i></div>
                <input type="text" name="totalrooms" value="0" max="10" min="0" readonly>
                <div class="ui basic spinner label minus"><i class="minus icon"></i></div>
            </div>
        </div>
    </div>
    <div class="content">
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th></th>
                    <th>成人</th>
                    <th>儿童</th>
                </tr>
            </thead>
            <tbody class="rooms-container">
                <tr>
                    <td data-content="roomNumber"></td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic spinner plus label"><i class="plus icon"></i></div>
                                <input type="text" name="adults" value="2">
                                <div class="ui basic spinner minus label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="children" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>房间2</td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="adults" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="children" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>房间3</td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="adults" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="number-spinner">
                            <div class="ui right labeled input">
                                <div class="ui basic label"><i class="plus icon"></i></div>
                                <input type="text" name="children" value="2">
                                <div class="ui basic label"><i class="minus icon"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="4">
                        <div class="ui right floated small positive labeled icon button">
                            <i class="checkmark icon"></i> 确定
                        </div>
                        <div class="ui right floated small grey labeled icon button">
                            <i class="close icon"></i> 取消
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
        <div class="error-messages"></div>
    </div>
</div>
<script>
    var calendarData = '@Model.TripData';
    var TripId = '@Model.Trip.Id';
</script>
<script type="text/html" id="roomTmpl">
    <tr class="room-detail fields hidden">
        <td data-content="roomNumber"></td>
        <td>
            <div class="number-spinner">
                <div class="ui right labeled input">
                    <div class="ui basic spinner plus label"><i class="plus icon"></i></div>
                    <input type="text" name="adults" value="2" readonly>
                    <div class="ui basic spinner minus label"><i class="minus icon"></i></div>
                </div>
            </div>
        </td>
        <td>
            <div class="number-spinner">
                <div class="ui right labeled input">
                    <div class="ui basic spinner plus label"><i class="plus icon"></i></div>
                    <input type="text" name="children" value="0" readonly>
                    <div class="ui basic spinner minus label"><i class="minus icon"></i></div>
                </div>
            </div>
        </td>
    </tr>
</script>
<script id="roomDetailTmpl" type="text/html">
    <div class="item">
        <i class="home icon"></i>
        <div class="content">
            <div class="header" data-content="roomNumber">房间1</div>
            <div class="description" data-content="roomDesc"></div>
        </div>
    </div>
</script>
<script src="~/Lib/Swiper/js/swiper.min.js"></script>
<script src="~/Lib/Calendario/calendario.js"></script>
<script src="~/Scripts/calendar.es5.min.js"></script>
<script src="~/Scripts/calendar.zh-cn.js"></script>
<script src="~/Scripts/jQuery.LoadTemplate/jquery.loadTemplate.min.js"></script>
<script src="~/Scripts/Frontend/Finder/tripDetail.js"></script>
