<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - 瞰世界</title>
    @Styles.Render("~/Content/semantic","~/Content/Frontend/layout.min.css")
    @Scripts.Render("~/bundles/jquery")
    <script data-pace-options='{ "ajax": false }' src="~/Lib/Pace/pace.js"></script>
</head>
<body>
    <div class="nav" tabindex="1">
        <div class="ui container">
            <div class="nav-container" >
                <div class="navbar-brand">
                    <img src="~/Images/Logo/logo_352-172.svg" />
                    <div class="menu-toggle">
                        <div class="line-one"></div>
                        <div class="line-two"></div>
                        <div class="line-three"></div>
                    </div>
                </div>
                <div class="nav-menu left-menu">
                    <ul class="nav-list">
                        <li class="nav-item" data-url="/">首页</li>
                        <li class="nav-item">目的地</li>
                        <li class="nav-item" data-url="/Finder/FindTrips">浏览行程</li>
                    </ul>
                </div>
                <div class="nav-menu right-menu">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

    </div>
    <div class="body-wrapper">
        @RenderBody()
        <div class="message-container">

        </div>
        
    </div>
    @Scripts.Render("~/bundles/semantic")
    <script src="~/Scripts/Backend/common.es5.min.js"></script>
    <script src="~/Scripts/Frontend/layout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
