<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - 瞰世界</title>
    @Styles.Render("~/Content/semantic","~/Content/Frontend/layout.min.css")
    @Scripts.Render("~/bundles/jquery")
    <script data-pace-options='{ "ajax": false }' src="~/Lib/Pace/pace.js"></script>
</head>
<body>
    @Html.Partial("_NavPartial")
    <div class="body-wrapper">
        @RenderBody()
        <div class="message-container">

        </div>
        
    </div>
    @Scripts.Render("~/bundles/semantic")
    <script src="~/Scripts/Backend/common.es5.min.js"></script>
    <script src="~/Scripts/Frontend/layout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
