<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - 瞰世界</title>
    @Styles.Render("~/Content/semantic.min.css", "~/Content/Frontend/userCenterLayout.min.css")
    @Scripts.Render("~/bundles/jquery")
    <script data-pace-options='{ "ajax": false }' src="~/Lib/Pace/pace.js"></script>
</head>
<body>
    @Html.Partial("_NavPartial")
    <div class="body-wrapper">
        <div class="subNav-wrapper">
            <div class="ui container">
                <div class="left-content-wrapper">
                    <div class="image-container">
                        <img src="~/Images/DefaultImages/UnknownSex.jpg" />
                    </div>
                    <div class="info-container">
                        <div class="welcome-message"></div>
                        <div class="level-message"></div>
                        <div class="level-progress">
                            <div class="ui inverted teal tiny progress">
                                <div class="bar"></div>
                                <div class="label">100/1000</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-content-wrapper">
                    <div class="nav-divider"></div>
                    <div class="section-1 section">
                        <p>您的积分</p>
                        <p></p>
                    </div>
                    <div class="nav-divider"></div>
                    <div class="section-2 section">
                        <p>您的优惠券</p>
                        <p></p>
                        
                    </div>
                    <div class="nav-divider"></div>
                    <div class="section-3 section">
                        <p>订单总数</p>
                        <p></p>
                    </div>
                    <div class="nav-divider"></div>
                </div>
            </div>
        </div>
        
        <div class="ui container content-body">
            <div class="leftNav-wrapper">
                @Html.Partial("_LeftNavPartial")
            </div>
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
        <div class="message-container"></div>
    </div>
    @Scripts.Render("~/bundles/semantic")
    <script src="~/Scripts/Backend/common.es5.min.js"></script>
    <script src="~/Scripts/Frontend/layout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
