@model IEnumerable<ViewWorld.Core.Models.TripModels.CityInfo>
@{
    ViewBag.Parent = "旅游管理";
    ViewBag.Title = "城市管理";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}
<div class="city-management">
    <div class="tool-bar">
        <button class="ui basic button" id="addCity">
            <i class="icon save"></i>
            添加
        </button>
    </div>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>城市名称</th>
                <th>简称/英文</th>
                <th>国内城市</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var city in Model)
                {
                    <tr data-city-id="@city.Id">
                        <td>
                            <div class="editable-cell" data-db-key="Name">@city.Name</div>
                            ID: @city.Id
                        </td>
                        <td><div class="editable-cell" data-db-key="Initial">@city.Initial</div></td>
                        <td>
                            <input type="checkbox"  checked="@city.IsChineseCity"/>
                        </td>
                        <td>
                            <button class="ui blue icon button save hidden"><i class="icon save"></i></button>
                            <button class="ui blue icon button edit"><i class="icon edit"></i></button>
                            <button class="ui red icon button delete"><i class="icon delete"></i></button>
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
    <div class="ui modal add-city-modal admin-modal">
        <div class="header">
            添加城市
        </div>
        <i class="close icon"></i>

        <form class="ui form equal width" id="add-city">
            @Html.AntiForgeryToken()
            <div class="ui error message">
                <div class="header">出错啦:</div>
                <ui></ui>
            </div>
            <div class="required field">
                <label>城市名称</label>
                <input name="city-name" type="text" placeholder="城市名称" data-db-key="Name" />
            </div>
            <div class="required field">
                <label>简称/英文</label>
                <input name="alias" type="text" placeholder="英文缩写" data-db-key="Initial" maxlength="1" />
            </div>
            <div class="field">
                <div class="ui checkbox cncity">
                    <input type="checkbox" data-db-key="isChineseCity">
                    <label>国内城市</label>
                </div>
            </div>
            <div class="actions">
                <div class="ui primary button" id="submit-form">
                    保存
                </div>
                <div class="ui cancel button">
                    关闭
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/Backend/Trip/CityManagement.js"></script>