@model IOrderedEnumerable<ViewWorld.Core.Models.TripModels.StartingPoint>
@{
    ViewBag.Parent = "旅游管理";
    ViewBag.Title = "出发地管理";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}

<div class="trip-management">
    <div class="tool-bar">
        <button class="ui basic button add-departure" >
            <i class="icon add"></i>
            添加
        </button>
        <button class="ui basic button" id="clear">
            <i class="icon refresh"></i>
            重置
        </button>
        <hr />
    </div>
    @if (Model.Any())
    {
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>地点/地标</th>
                    <th>地址</th>
                    <th>出发日期</th>
                    <th>出发时间</th>
                    <th>供应商简称</th>
                    <th>供应商</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var depart in Model)
                {
                    Dictionary<string, string> days = new Dictionary<string, string>();
                    days.Add("1", "周一");
                    days.Add("2", "周二");
                    days.Add("3", "周三");
                    days.Add("4", "周四");
                    days.Add("5", "周五");
                    days.Add("6", "周六");
                    days.Add("7", "周日");
                    string availableDays = "逢";
                    foreach (var item in days)
                    {
                        if (depart.AvailableDays.Contains(item.Key))
                        {
                            availableDays += item.Value + ",";
                        }
                    }
                    availableDays.Remove(availableDays.Length - 1, 1);
                    availableDays += "出发";
                    <tr id="@depart.Id" data-providerId="@depart.ProviderId" data-availabledays="@depart.AvailableDays">
                        <td>@depart.Landmark</td>
                        <td>@depart.Address</td>
                        <td>@availableDays</td>
                        <td>@depart.DepartTime</td>
                        <td>@depart.ProviderAlias</td>
                        <td>@depart.ProviderName</td>
                        <td class="collapsing">
                            <button class="ui blue icon button save hidden" data-content="保存"><i class="icon save"></i></button>
                            <button class="ui blue icon button edit" data-content="编辑"><i class="icon edit"></i></button>
                            <button class="ui circular red icon delete button" data-content="删除">
                                <i class="remove icon"></i>
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    <div class="ui modal admin-modal add-departure-modal">
        <div class="header">
            编辑出发地
        </div>
        <i class="close icon"></i>

        <form class="ui form equal width" id="add-departure">
            @Html.AntiForgeryToken()           
            <div class="required field">
                <label>地点/地标</label>
                <input name="landmark" type="text" placeholder="地点,如:酒店名" data-db-key="Landmark" />
            </div>
            <div class="required field">
                <label>地址</label>
                <input name="address" type="text" placeholder="如:道路名和门牌号" data-db-key="Address" />
            </div>
            <div class="required field">
                <label>出发时间</label>
                <input name="depart_time" type="text" placeholder="如: 7:00am" data-db-key="DepartTime" />
            </div>
            <div class="required field">
                <label>出发日期</label>
                <div class="fields">
                    <div class="field">
                        <div class="ui checkbox availabledates">
                            <input type="checkbox" name="availabledates" value="1">
                            <label>星期一</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox availabledates">
                            <input type="checkbox" name="availabledates" value="2">
                            <label>星期二</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox availabledates">
                            <input type="checkbox" name="availabledates" value="3">
                            <label>星期三</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox availabledates">
                            <input type="checkbox" name="availabledates" value="4">
                            <label>星期四</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox availabledates">
                            <input type="checkbox" name="availabledates" value="5">
                            <label>星期五</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox availabledates">
                            <input type="checkbox" name="availabledates" value="6">
                            <label>星期六</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox availabledates">
                            <input type="checkbox" name="availabledates" value="7">
                            <label>星期天</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>供应商</label>
                <div class="ui search selection dropdown provider-list loading">
                    <input type="hidden" name="provider" data-db-key="provider">
                    <i class="dropdown icon"></i>
                    <div class="default text">供应商</div>
                    <div class="menu">

                    </div>
                </div>
            </div>            
            <div class="actions">
                <div class="ui primary button" id="submit-form">
                    保存
                </div>
                <div class="ui cancel button">
                    关闭
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/Backend/Trip/DepartureManagement.js"></script>